<form action="/genres/upsert" role="form" method="post">
    <input type="hidden" name="_csrf" value="{{_csrfToken}}">
    {{#if genre}} <!-- if genre exists, use its name -->
        <div>
            <h2>Editing "{{genre.name}}"</h2>
            <input type="hidden" name="id" value="{{genre.id}}">
        </div>
    {{/if}}
    <div> <!-- create each genre as an li -->
        <label for="name">Genre</label>
        <input type="text" id="name" name="name" {{#if genre}} 
            value="{{genre.name}}"
        {{/if}}>
    </div>
    <button type="submit">Submit</button>
</form>