<h1><a href="/">{{title}}</a></h1>
<p>Create a new genre <a href="genres/form">here</a>, diva!</p>
<ul>
    {{#each genres}}
    <li>{{@index}}: {{this}} – 
        <a href="/genres/edit?id={{@index}}">Edit</a>
    </li>
    {{/each}}
</ul>