<h1><a href="/genres">{{title}}</a></h1>
<p>Create a new genre <a href="genres/form">here</a>, user.</p>
<ul>
    {{#each genres}}
    <li>{{this.id}}: {{this.name}} – 
        <a href="/genres/edit?id={{this.id}}">Edit</a>
    </li>
    {{/each}}
</ul>