<form action="/books/create" role="form" method="post">
    <div>
        <label for="title">Title</label>
        <input type="text" id="title" name="title">
    </div>
    <div>
        <label for="publishingYear">Year Published</label>
        <input type="text" id="publishingYear" name="publishingYear">
    </div>
    <button type="submit">Submit</button>
</form>